.u-section-1 .u-sheet-1 {
  min-height: 929px;
}

.u-section-1 .u-checkout-1 {
  min-height: 748px;
  height: auto;
  width: 1107px;
  margin: 0 auto 60px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-checkout-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-checkout-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-checkout-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-checkout-1 {
    width: 340px;
  }
}